body {
    /* background-image: url('https://wallpaperboat.com/wp-content/uploads/2020/04/minimalist-4k-wallpaper-1920x1080-14.jpg'); */
    background-image: url('https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/05.jpg?3');
    background-size: cover;
    background-repeat:no-repeat;
}