{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><strong>Choose either the Store to buy items or Inventory to check the items that you and others own.</strong></p>
      <div class="grid gap-4 justify-content-sm-center">
        <a href="/store" class="btn btn-outline-dark btn-lg btn-block" role="button" id="store">Store</a>
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">Inventory</button>
      </div>
    </div>
</div>

{% endblock %}