{% extends "base.html" %} {% block title %}Inventory{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/inventory.css" />
<div class="row">
    <div class="cola">
        <p class="header">Coca-Cola</p>
        <img src="https://freepngimg.com/thumb/coke/8-2-coca-cola-png-picture.png" class="img-cola"/>
        <p>{{ cola }}</p>
    </div>

    <div class="water">
        <p class="header">Water</p>
        <img src="https://freepngimg.com/thumb/water_bottle/6-2-water-bottle-png-clipart.png" class="img-water"/>
        <p>{{ water }}</p>
    </div>

    <div class="fanta">
        <p class="header">Fanta</p>
        <img src="https://www.pngmart.com/files/22/Fanta-PNG-Isolated-Photo.png" class="img-fanta"/>
        <p>{{ fanta }}</p>
    </div>
</div>

<div class="totaldiv">
    <p> Total value of: {{ total }}</p>
</div>
{% endblock %}